* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-areas: 'head' 'main';
    grid-template-rows: auto 1fr;
}

header {
    grid-area: head;
}

main {
    grid-area:  main;
}

/* ======================top style start=============== */
header .top {
    height: max-content;
    width: 100%;
    padding: 0.5rem;
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top h2 {
    margin: auto;
    font-size: 3.5rem;
}

.top a {
    position: relative;
    top: 0%;
    right: 1rem;
    width: 2.5rem;
}

.top a img {
    width: 100%;
    height: 100%;
}

/*======================table style start===============*/
main .table {
    width: 100%;
    height: max-content;
    margin: 5% 0;
}

table {
    width: 85%;
    height: 100%;
    margin: auto;
}

table ,th,td {
    border: 2px solid black;
    border-collapse:collapse ;
}

table .dayper {
    width: 25%;
    background-color: steelblue;
}

table th {
    width: 15%;
    padding: 0.8rem;
    font-size: 2rem;
    font-weight: 500;
}

table td button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 1.7rem;
    font-weight: 500;
}

/*======================table down displayer form style start===============*/
main .displayer {
    width: 90%;
    height: max-content;
    background-color: #333;
    margin: auto auto 5% auto;
    border: 3px solid steelblue;
    border-radius: 10px;
    padding: 0.8rem;
}

.displayer h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

.displayer form {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 3px solid steelblue;
    border-radius: 10px;
    margin: auto;
    padding: 8px;
    text-align: center;
}

#classname,
#classupdate,
textarea {
    color: black;
    margin: 10px 0;
    width: 90%;
    padding: 0.8rem;
    border: 2px solid black;
}

#classname,
#classupdate {
    font-size: 1.7rem;
    font-weight: 500;
}

textarea {
    resize: none;
    height: 150px;
    font-size: 1.5rem;
    text-align: justify;
}

form #sub,
form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0.5rem auto;
}

form #sub {
    background-color: red;
}

form button {
    background-color: green;
}
.php{
    display: none;
}

/*======================media query for phone desktop and tab view===============*/


@media (min-width: 7710px) and (max-width: 1190px) {
    /* ======================top style start=============== */
    header .top {
        padding: 0.5rem;
        background-color: red;
    }

    .top h2 {
        font-size: 3rem;
    }

    .top a {
        right: 0.7rem;
        width: 2rem;
    }

    /*======================table style start===============*/
    main .table {
        margin: 5% 0;
    }

    table {
        width: 90%;
    }

    table th {
        padding: 0.6rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    table td button {
        font-size: 1.3rem;
        font-weight: 400;
    }

    /*======================table down displayer form style start===============*/
    main .displayer {
        width: 95%;
        margin: auto auto 5% auto;
        border: 2px solid steelblue;
        padding: 0.6rem;
    }

    .displayer h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .displayer form {
        border: 2px solid steelblue;
        padding: 8px;
    }

    #classname,
    #classupdate,
    textarea {
        margin: 7px 0;
        width: 95%;
        padding: 0.6rem;
    }

    #classname,
    #classupdate {
        font-size: 1.4rem;
        font-weight: 400;
    }

    textarea {
        height: 130px;
        font-size: 1.3rem;
    }

    form #sub,
    form button {
        font-size: 1.2rem;
    }

}

    /*======================media query for phone view===============*/
@media (min-width: 471px) and (max-width: 770px) {

    /* ======================top style start=============== */
    header .top {
        padding: 0.5rem;
        background-color: green;
    }

    .top h2 {
        font-size: 2.5rem;
    }

    .top a {
        right: 0.7rem;
        width: 2rem;
    }

    /*======================table style start===============*/
    main .table {
        width: 100%;
        height: max-content;
        margin: 6% 0;
    }

    table {
        width: 95%;
    }

    table th {
        padding: 0.5rem;
        font-size: 1.2rem;
        font-weight: 400;
    }

    table td button{
        font-size: 1.3rem;
        font-weight: 300;
    }

    /*======================table down displayer form style start===============*/
    main .displayer {
        width: 95%;
        margin: auto auto 5% auto;
        border: 2px solid steelblue;
        padding: 0.5rem;
    }

    .displayer h1 {
        font-size: 1.7rem;
        padding: 0.5rem;
    }

    .displayer form {
        border: 2px solid steelblue;
        padding: 8px;
    }

    #classname,
    #classupdate,
    textarea {
        margin: 10px 0;
        padding: 0.6rem;
    }

    #classname,
    #classupdate{
        font-size: 1.2rem;
        font-weight: 300;
    }

    textarea {
        height: 140px;
        font-size: 1.3rem;
    }

    form #sub,
    form button {
        padding: 0.5rem;
        font-size: 1.2rem;
    }

}

@media (max-width: 470px){
    /* ======================top style start=============== */
    header .top {
        padding: 0.5rem;
        background-color: yellow;
    }

    .top h2 {
        margin: auto;
        font-size: 1.5rem;
    }

    .top a {
        position: relative;
        top: 0%;
        right: 1rem;
        width: 1.5rem;
    }

    .top a img {
        width: 100%;
        height: 100%;
    }

    /*======================table style start===============*/
    main .table {
        margin: 7% 0;
    }

    table {
        width: 90%;
    }

    table th {
        width: 15%;
        padding: 0.5rem;
        font-size: 0.7rem;
        font-weight: 300;
    }

    table td button {
        font-size: 0.8rem;
        font-weight: 300;
    }

    /*======================table down displayer form style start===============*/
    main .displayer {
        width: 90%;
        padding: 0.5rem;
    }

    .displayer h1 {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .displayer form {
        border: 2px solid steelblue;
        padding: 5px;
    }

    #classname,
    #classupdate,
    textarea {
        margin: 10px 0;
        padding: 0.5rem;
    }

    #classname,
    #classupdate {
        font-size: 0.7rem;
        font-weight: 300;
    }

    textarea {
        height: 100px;
        font-size: 0.8rem;
    }

    form #sub,
    form button {
        font-size: 0.6rem;
        margin: 0.3rem auto;
    }

}
